body {
  background-color: #02779E;
}

button {
    -webkit-appearance: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    padding: 3px 9px;
    color: #02779E;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin: auto;
}

button:hover {
    color: #777;
}

.button-space {
    font-family: 'Roboto', sans-serif;
    color: #02779E;
    font-size: 30px;
    background-color: white;
    padding: 0 0 0 5px;
    vertical-align: middle;
}

button[type=button].toggle-page {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #02779E;
  font-size: 12px;
  margin-left: -5px;
  background-color: white;
  padding-top: 15px;
}

button[type=submit] {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

button[type=button] {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

hr {
    width: 108%;
    margin: 0px;
    border: 1px solid #fff;
    margin-left: -25px;
}

.task-block {
    background-color: #fff;
    display: block;
    margin: 0 0 0 30px;
    padding-bottom: 30px;
}

.site-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #02779E;
    text-align: left;
    padding: 30px 0px 0px 28px;
    height: 80px;
    display: block;
    margin: auto;
}

.task-list {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #777;
    float: none;
    cursor: pointer;
    cursor: hand;
 }

 .task-item {
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 300;
   color: #006699;
   height: 50px;
   padding: 10px 30px 0 0px;
 }

 .list-title {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 20px;
   color: #02779E;
   padding: 0 0 20px 0;
 }

input {
    width: 372px;
    display: inline;
    border-style: none;
    text-align: left;
    height: 50px;
    background-color: #f8f8f8;
    vertical-align: middle;
}

::-webkit-input-placeholder { /* Chrome */
  color: #d0d0d0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d0d0d0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d0d0d0;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #d0d0d0;
  opacity: 1;
}

input:focus {
    color: #d0d0d0;
}

input[type=text] {
  font-weight: 300;
  color: #02779E;
  padding-left: 8px;

}

.task-title {
    font-family: 'Roboto', sans-serif;
    color: #006699;
    font-size: 24px;
    padding-top: 10px;
}

.ion-ios-checkmark-outline {
  color: #F5A94F;
  font-size: 30px;
  margin: 0px 0 0 -6px;
  padding: 0 0 0 4px;
}

.ion-ios-checkmark-outline:hover:before {
  content: "\f3ff";
  color: #F5A94F;
}

.ion-ios-close-outline {
  color: #F5A94F;
  font-size: 30px;
  padding-right: 10px;
  float: right;
  margin-top: 5px;
  margin-right: -10px;
}

.ion-ios-close-outline:hover:before {
  content: "\f406";
  color: #F5A94F;
}



.complete-btn {
  float: left;
  margin: -4px 10px 0 0px;
  padding: 0 0 0 0px;
  background-color: white;
}

.remove-btn {
  float: right;
  margin-top: -10px;
  background-color: white;
}

.task-time {
  font-family: 'Roboto', sans-serif;
  color: #02779E;
  font-size: 20px;
}

select {
  font-family: 'Roboto', sans-serif;
  color: #02779E;
  width: 120px;
  height: 50px;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#02779E' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-left: 8px;
  vertical-align: middle;
}

.priority {
  font-size: 12px;
  color: #ccc;
}

.page {
  width: 600px;
  background-color: white;
  box-shadow: 2px 2px 10px #015976;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.add-new {
  padding-bottom: 15px;
}

.ion-ios-plus-outline {
  color: #F5A94F;
  font-size: 40px;
}

.ion-ios-plus-outline:hover:before {
  content: "\f48b";
  color: #F5A94F;
}
