<h1 class="site-title">bloc it off</h1>
  <section class="task-block">
      <button class="button-space" type="button" ng-click="active.open()">+</button>
          <div ng-hide="task.completed" ng-repeat="task in active.tasks | orderBy: 'createdAt' :true">
            <hr>
              <a class="task-list" ng-click="active.setCurrentTask(task)">{{ task.$value }}</a>
              <div class = "icon icon ion-close" ng-click="removeTask(task)"></div>
              <div class = "icon icon ion-checkmark" ng-click="markComplete(task)"></div>
          </div>
  </section>
